.about-page {
  font-size: 1.8em;
  text-align: right;
}
.site-header {
  font-size: 1.5em;
}
.single-column {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
}

.about-page p,
.about-page ul,
.about-page li {
  color: #888;
}

.about-page h1 {
  padding: 1em 0;
  font-size: 1.2em;
  font-weight: bold;
}

.credits .fontface {
  background: #428bca;
}

.credits .unsplash {
  background: #000;
  color: #fff;
}

.credits .credit-logo.yorwa {
  padding: 0;
  border: 1px solid;
  line-height: 0;
}

.credits .credit-logo {
  padding: 1em;
  text-align: center;
  margin: 0;
}
.credits .credit-logo img {
  width: 200px;
}
.credits .unsplash h3 {
  padding: 0;
  margin: 0;
  color: #fff;
}

ul {
  direction: rtl;
}

.samples {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 10px;
}

.samples img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.samples div:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1;
}

.samples div:nth-child(2) {
  grid-column: 3 ;
  grid-row: 1 / 3;
}

.samples div:nth-child(3) {
  grid-column: 1 ;
  grid-row: 2 ;
}
.samples div:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.samples div:nth-child(5) {
  grid-column: 1 / 3 ;
  grid-row: 3;
}

.samples div:nth-child(6) {
  grid-column: 3 ;
  grid-row: 3 / 4;
}


@media (min-width: 700px) {
  .samples {
    margin: 0 2em;
  }

  .site-header {
    font-size: 2em;
  }

  .site-header .logo i {
    margin: 0 10px;
    width: 44px;
    height: 44px;
  }
}