<div class="about-page page">
  <h1>
    عن قُصاصات
  </h1>

  <p class="">
    قصاصات هي أداة تساعدك على إنتاج وعمل تصميمات بسيطة لصور ونصوص لتشاركها على الشبكات الإجتماعية.
  </p>

  <h1>
    خصائص قصاصات
  </h1>

  <ul>
    <li>
      أكثر من ٢٠٠ ألف صورة بجودة عالية يمكنك استخدامها بدون ترخيص
    </li>
    <li>
      حوالي ١٤٠ خط يمكنك مقارنتهم بخطوة واحدة على تصميمك
    </li>
    <li>
      إنتاج مختلف الأحجام الموصى بها للمشاركة على الشبكات الإجتماعية المختلفة
    </li>
    <li>
      تحميل جميع الأحجام كملف مضغوط واحد
    </li>
  </ul>

  <h1>
    أمثلة
  </h1>

  <div class="samples">
    <div>
      <h4>صورة بالحجم المناسب والموصى به للمشاركة على تويتر</h4>
      <img src="/assets/img/samples/life-smile/twitter/twitter-in-stream-photo.png" width="100%">
    </div>
    <div>
      <h4>صورة مربعة للمشاركة على إنستجرام</h4>
      <img src="/assets/img/samples/life-beauty/instagram/instagram-square-photo.png" width="100%">
    </div>
    <div>
      <h4>صورة بالحجم المناسب لغطاء صفحتك الشخصية على الفيسبوك</h4>
      <img src="/assets/img/samples/life-comedy/facebook/facebook-cover-photo.png" width="100%">
    </div>
  </div>

  <h1>
    تواصلوا معنا
  </h1>

  <p class="">
    أخبرونا ما رأيكم وتواصلوا معنا على صفحتنا على
    <a target="blank" href="https://facebook.com/mansharcom">
    فيسبوك
    </a>
     أو على
     <a target="blank" href="https://twitter.com/mansharcom">
     تويتر
     </a>
     .
  </p>

  <h1>
    الأدوات والخدمات المستخدمة
  </h1>

  <div class="credits">
    <p>
      لم يكن بناء قصاصات ممكن بدون استخدام بعض الأدوات والخدمات التي قام ببنائها أشخاص آخرون! هذه بعضها:
    </p>

    <div>
      <div class="credit-logo fontface">
        <a target="blank" href="https://www.fontface.me/">
          <img src="https://www.fontface.me/images/font-face-logo.svg" />
        </a>
      </div>
      <p>
        مشروع رائع يستضيف خطوط عربية للاستخدام على الويب! يمكنكم القيام
        <a target="blank" href="https://www.fontface.me/page/donate">
        بدعم المشروع بالتبرع مالياً هنا
        </a>
        .
      </p>
      <p>
        جميع الخطوط الحالية المستخدمة في منشر هي مستضافة على فنوت فيسـ
      </p>
    </div>

    <div>
      <div class="credit-logo unsplash">
        <a target="blank" href="https://www.unsplash.com/?utm_source=manshar-clips&utm_medium=referral&utm_campaign=api-credit">
          <h3>Unsplash</h3>
        </a>
      </div>

      <p>
        مشروع رائع يستضيف يوفر صور عالية الجودة مجانية للاستخدام بأي طريقة تود فيها وبدون الحاجة إلى ترخيص!
      </p>
      <p>
        جميع الصور المستخدمة حالياً هي من موقع Unsplash.
      </p>
    </div>
  </div>

</div>