:host >>> .items-container {
  flex-direction: column;
}

:host >>> .items-container .item:nth-child(even) {
  background: #ececec;
}

.quote-item {
  padding: 1em 2em;
  display: block;
}


.search-container {
  position: relative;
}

.search-container input {
  display: block;
  width: calc(100% - 14px);
  padding: 0.5em 1em;
  font-size: 1em;
  box-sizing: border-box;
  border: 1px solid #cecece;
  margin: 7px auto;
}

.search-container .loading-indicator {
  position: absolute;
  left: 2.6em;
  top: 37%;
}

.quotes-footer {
  display: flex;
  justify-content: center;
  margin: 2em;
}
