/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

nav {
}

nav a {
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 0.7em;
  padding: 0.4em 1em;
  display: block;
  color: #999;
}

nav a:hover {
  color: #00BCD4;
}

html, body{
  height: 100%;
  font-family: dubai, Arial, Helvetica, sans-serif;
  direction: rtl;
  margin: 0;
}

app {
  min-height: 100vh;
  display: block;
}

input, button, textarea {
  font-family: dubai, Arial, Helvetica, sans-serif;
}

.site-header,
footer {
  background: #fafafa;
  font-family: dubai;
  position: relative;
}

.site-header nav {
  float: left;
}

footer {
  font-size: 2em;
  margin-top: 2em;
}
footer a {
  color: #fff;
}

.logo .tagline {
  font-size: .4em;
  display: block;
  color: #999;
}

.logo i {
  background: url(/assets/img/manshar-clips-logo-2x.png) no-repeat;
  display: inline-block;
  width: 26px;
  height: 26px;
  background-size: cover;
  margin-top: -0.2em;
}
.logo {
  position: relative;
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #33848e;
  padding-left: 7px;
}

.logo a:hover {
  color: #00BCD4;
}


.page {
  text-align: center;
  overflow-x: hidden;
}

.clips-preview-fonts a {
  text-decoration: none;
  display: inline-block;
  outline: none;
}

.clips-preview-fonts a:focus clip {
  border: 5px solid #00bcd4;
}

.clips-preview-fonts clip {
  display: block;
}

.meta-info {
  color: #999;
}

$base-line-height: 12px;
$loader-color: #00BCD4;
$off-loader-color: rgba($loader-color, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes pulse {
  50% {
    background: $loader-color;
  }
}

.loading-pulse {
  position: relative;
  width: ($base-line-height / 4);
  height: $base-line-height;
  background: $off-loader-color;
  animation: pulse $pulse-duration infinite;
  animation-delay: ($pulse-duration / 3);
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    height: ($base-line-height / 1.5);
    width: ($base-line-height / 4);
    background: $off-loader-color;
    top: 50%;
    transform: translateY(-50%);
    animation: pulse $pulse-duration infinite;
  }
  &:before {
    left: -($base-line-height / 2);
  }
  &:after {
    left: ($base-line-height / 2);
    animation-delay: ($pulse-duration / 1.5);
  }
}