/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

nav {
  margin-top: 16px;
}

nav a {
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

nav a:hover {
  background-color: #00BCD4;
}

html, body{
  height: 100%;
  font-family: barabics, Arial, Helvetica, sans-serif;
  direction: rtl;
  margin: 0;
}

app {
  min-height: 100vh;
  display: block;
}

input, button, textarea {
  font-family: barabics, Arial, Helvetica, sans-serif;
}

.site-header,
footer {
  font-size: 3.5em;
  padding: 1em;
  background: #33848e;
  color: #fff;
  font-family: barabics;
  text-align: center;
  position: relative;
}

.site-header nav {
  font-size: .5em;
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  font-size: 2em;
  margin-top: 2em;
}
footer a {
  color: #fff;
}

.logo i {
  background: url(/assets/img/manshar-clips-logo-2x.png) no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px;
  background-size: cover;
  position: absolute;
  right: 0;
}
.logo {
  position: relative;
  display: inline-block;
  padding-right: 80px;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.logo a:hover {
  color: #00BCD4;
}

.logo .tagline {
  font-size: .4em;
  display: block;
}

.page {
  text-align: center;
  overflow-x: hidden;
}


@media (max-width: 500px) {
  .site-header {
    font-size: 2em;
  }

  .logo {
    padding-right: 50px;
  }

  .logo i {
    width: 32px;
    height: 32px;
  }
}

.clips-preview-fonts a {
  text-decoration: none;
  display: inline-block;
  outline: none;
}

.clips-preview-fonts a:focus clip {
  border: 5px solid #00bcd4;
}

.clips-preview-fonts clip {
  display: block;
}

.meta-info {
  color: #999;
}

$base-line-height: 12px;
$loader-color: #00BCD4;
$off-loader-color: rgba($loader-color, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes pulse {
  50% {
    background: $loader-color;
  }
}

.loading-pulse {
  position: relative;
  width: ($base-line-height / 4);
  height: $base-line-height;
  background: $off-loader-color;
  animation: pulse $pulse-duration infinite;
  animation-delay: ($pulse-duration / 3);
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    height: ($base-line-height / 1.5);
    width: ($base-line-height / 4);
    background: $off-loader-color;
    top: 50%;
    transform: translateY(-50%);
    animation: pulse $pulse-duration infinite;
  }
  &:before {
    left: -($base-line-height / 2);
  }
  &:after {
    left: ($base-line-height / 2);
    animation-delay: ($pulse-duration / 1.5);
  }
}