:host >>> .item {
  flex-grow: 1;
}

.font-item,
:host >>> .random-item {
  width: 100px;
  padding: 10px 0;
  text-align: center;
}

:host >>> .item.random-item .icon.random {
  width: 32px;
  height: 32px;
}