.formats-container h3 {
  text-align: center;
  font-weight: bold;
  margin: 0.3em;
}

.formats-container {
  padding: 0 1em;
}

:host .text-fill-selector >>> .item {
   width: 10%;
   flex-grow: 1;
}

:host .text-fit-selector >>> .item {
   width: 49%;
   flex-grow: 1;
}

:host .text-pos-selector >>> .item {
   width: 30%;
   flex-grow: 1;
}

.format-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border: 1px dashed #cecece;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 500px) {
  .formats-container {
    padding: 1em;
  }
  .format-item {
    padding: 1em;
  }
  .formats-container h3 {
    margin: 1em;
  }
}
