.page {
  margin: 0 1em;
}

button {
  color: #fff;
  background: #33848e;
  cursor: pointer;
  border: none;
}
button:hover {
  background: #00bcd4;
}

.credits {
  direction: ltr;
}

.credits a {
  text-decoration: none;
  color: #aaa;
}

@media (max-width: 500px) {
  .page h1 {
    margin: .3em 0;
  }
  .page h5 {
    margin: .1em;
  }
}