<div class="export-page page" [class.embedded]="embedded">
  <div class="loading-splash-screen" [class.visible]="loading_">
    <div class="loading-pulse"></div>
    <h1>
      يتم تصدير الصور المختارة...
      <br/><br/>
      الرجاء الإنتظار...
    </h1>
    <h2>
      قد تستغرق العملية ٣٠ ثانية حسب الخيارات المختارة...
    </h2>
  </div>
  <h1>
    الخطوة الأخيرة: معاينة وتحميل
  </h1>
  <div class="clip-controls">
    <textarea autosize [(ngModel)]="text" (input)="text$.next($event.target.value)"></textarea>
    <button (click)="download()" *ngIf="!embedded">
      تحميل جميع أحجام الصور
    </button>
    <label class="checkbox preview-checkbox">
      <input type="checkbox" [(ngModel)]="preview">
      صغر حجم الصور للمعاينة
    </label>
  </div>

  <details [open]="!embedded" class="clip-font-controls">
    <summary>تحكم بحجم ومكان وحجم الخط</summary>

    <form #formRef="ngForm">
      <div class="clip-controls">
        <div class="controls-group">
          <h3>
            مساحة الكتابة
          </h3>
          <div class="choices">
            <input type="radio" name="text-fill" [(ngModel)]="textFill" value="p90" checked id="text-fill-p90"/>
            <label class="choice text-fill-choice" for="text-fill-p90">
              <div class="box p90"></div>
            </label>
            <input type="radio" name="text-fill" [(ngModel)]="textFill" value="p75" id="text-fill-p75"/>
            <label class="choice text-fill-choice" for="text-fill-p75">
              <div class="box p75"></div>
            </label>
            <input type="radio" name="text-fill" [(ngModel)]="textFill" value="p50" id="text-fill-p50"/>
            <label class="choice text-fill-choice" for="text-fill-p50">
              <div class="box p50"></div>
            </label>
          </div>
        </div>

        <div class="controls-group">
          <h3>
            ملء الكتابة
          </h3>
          <div class="choices">
            <input type="radio" name="text-fit" [(ngModel)]="textFit" value="nofit" id="text-pos-nofit"/>
            <label class="choice text-fit-choice" for="text-pos-nofit">
              <div class="box w50 h15"></div>
              <div class="box w75 h15"></div>
              <div class="box w50 h15"></div>
            </label>
            <input type="radio" name="text-fit" [(ngModel)]="textFit" value="fit"  id="text-pos-fit" checked/>
            <label class="choice text-fit-choice" for="text-pos-fit">
              <div class="box w75 h25"></div>
              <div class="box w75 h15"></div>
              <div class="box w75 h10"></div>
            </label>
          </div>
        </div>

        <div class="controls-group">
          <h3>
            محاذات الكتابة
          </h3>
          <div class="choices">
            <input type="radio" name="text-pos" [(ngModel)]="textPos" value="tr" id="text-pos-tr"/>
            <label class="choice text-pos-choice" for="text-pos-tr">
              <div class="box t r"></div>
            </label>

            <input type="radio" name="text-pos" [(ngModel)]="textPos" value="tc" id="text-pos-tc"/>
            <label class="choice text-pos-choice" for="text-pos-tc">
              <div class="box t c"></div>
            </label>

            <input type="radio" name="text-pos" [(ngModel)]="textPos" value="tl" id="text-pos-tl"/>
            <label class="choice text-pos-choice" for="text-pos-tl">
              <div class="box t l"></div>
            </label>

            <input type="radio" name="text-pos" [(ngModel)]="textPos" value="mr" id="text-pos-mr"/>
            <label class="choice text-pos-choice" for="text-pos-mr">
              <div class="box m r"></div>
            </label>

            <input type="radio" name="text-pos" [(ngModel)]="textPos" value="mc" id="text-pos-mc"/>
            <label class="choice text-pos-choice selected" for="text-pos-mc">
              <div class="box m c"></div>
            </label>

            <input type="radio" name="text-pos" [(ngModel)]="textPos" value="ml" id="text-pos-ml"/>
            <label class="choice text-pos-choice" for="text-pos-ml">
              <div class="box m l"></div>
            </label>

            <input type="radio" name="text-pos" [(ngModel)]="textPos" value="br" id="text-pos-br"/>
            <label class="choice text-pos-choice" for="text-pos-br">
              <div class="box b r"></div>
            </label>

            <input type="radio" name="text-pos" [(ngModel)]="textPos" value="bc" id="text-pos-bc"/>
            <label class="choice text-pos-choice" for="text-pos-bc">
              <div class="box b c"></div>
            </label>

            <input type="radio" name="text-pos" [(ngModel)]="textPos" value="bl" id="text-pos-bl"/>
            <label class="choice text-pos-choice" for="text-pos-bl">
              <div class="box b l"></div>
            </label>
          </div>
        </div>

        <div class="controls-group">
          <h3>
            لون الخط
          </h3>
          <div class="color-choice">
            <color-picker
                name="color"
                [multiple]="false"
                (change)="colorUpdate()"
                (onChangeModel)="colorUpdate()"
                [(ngModel)]="colors"
                [pickerConfig]="{borderRadius: 0}"
                [availableColors]="availableColors">
            </color-picker>
          </div>
        </div>
      </div>
    </form>
  </details>

  <div class="clip-exports" #clips>
    <div *ngFor="let config of configs" class="clip-export-item">
      <div class="clip-actions">
        <button (click)="download(clip)" *ngIf="!embedded">
          حمل الصورة
          <div class="tagline">
             {{config.label}} -
             عرض: {{config.width}} -
             طول: {{config.height}}
          </div>
        </button>
        <button (click)="pick(clip)" *ngIf="embedded">
          اختر هذه القصاصة
          <div class="tagline">
             {{config.label}} -
             عرض: {{config.width}} -
             طول: {{config.height}}
          </div>
        </button>
      </div>
      <clip #clip
        [photo]="selectedPhoto"
        [font]="selectedFont"
        [lines]="lines"
        [config]="config"
        [previewRatio]="config.previewRatio"
        [preview]="preview"
        [textFill]="textFill"
        [textFit]="textFit"
        [textPos]="textPos"
        [textColor]="textColor"></clip>
    </div>
  </div>

</div>
