<div class="choose-image-page page"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="800"
    (scrolled)="onScroll()">
  <h1>
    الخطوة الأولى: اختر الصورة
  </h1>

  <div class="image-preview" *ngFor="let photo of photos">
    <a [href]="'/select-font?url=' + photo.urls.raw">
      <img crossorigin [src]="photo.urls.raw + '?w=800&h=800&fit=crop'" preload sizing="cover" width="400" height="400">
    </a>
    <div class="credits">
      <span> &lt; </span>
      <a [href]="photo.user.links.html + '?utm_source=manshar-clips&utm_medium=referral&utm_campaign=api-credit'" target="_blank">{{photo.user.name}}</a>
      <span> / </span>
      <a href="https://unsplash.com?utm_source=manshar-clips&utm_medium=referral&utm_campaign=api-credit" target="_blank">Unsplash</a>
      <span> &gt; </span>
    </div>
  </div>

</div>
