<div class="choose-image-page page" [class.embedded]="embedded"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="800"
    (scrolled)="onScroll()">
  <h1>
    الخطوة الأولى: اختر الصورة
  </h1>
  <div class="filter-controls">
    <div class="search-container">
      <input [(ngModel)]="searchTerm" (input)="search$.next($event.target.value)" class="search-box" placeholder="ابحث عن صورة معينة (أمثلة: جبال ثلجية، غروب الشمس، سيارة سباق، باقة زهر، فتاة، رمل شاطئ...)"/>
      <div class="loading-pulse loading-indicator" [class.visible]="loading_"></div>
    </div>
  </div>
  <div class="filter-controls" *ngIf="!embedded">
    <h5>
      فلتر الصور حسب
    </h5>
    <color-picker
        [(ngModel)]="colors"
        (change)="filtersUpdated()"
        [pickerConfig]="{borderRadius: 0}"
        [availableColors]="availableColors"
        (onChangeModel)="filtersUpdated()">
    </color-picker>
    <div class="categories-filters">
      <label *ngFor="let category of categories.values; let i = index">
        <input type="checkbox" [(ngModel)]="categories.filters[category]" (change)="filtersUpdated()">
        <span>
          {{categories.labels[i]}}
        </span>
      </label>
    </div>
  </div>

  <div class="image-list">
    <div class="upload-your-pic">
      <carbon-upup
          label="اختر صورة من جهازك"
          dragLabel="أو اسحبها إلى هنا من سطح المكتب"
          uploadingLabel="يتم رفع الصورة..."
          dropLabel="اترك الصورة هنا لتقوم برفعها..."
          (success)="handleUploadPhoto($event)"></carbon-upup>
    </div>
    <div class="image-preview" *ngFor="let photo of photos">
      <a [routerLink]=" ['/select-font'] " [queryParams]="{url: photo.original_serve_url, embedded: embedded ? 1 : 0, embeddedOrigin: embeddedOrigin}">
        <clip [photo]="photo.original_serve_url" [config]="{width: 800, height: 800}" [previewRatio]="0.5"></clip>
      </a>
      <div class="credits">
        <span> &lt; </span>
        <a [href]="photo.source_photographer_link + '?utm_source=manshar-clips&utm_medium=referral&utm_campaign=api-credit'" target="_blank">{{photo.source_photographer_name}}</a>
        <span> / </span>
        <a [href]="photo.source_link + '?utm_source=manshar-clips&utm_medium=referral&utm_campaign=api-credit'" target="_blank">{{photo.source_name}}</a>
        <span> &gt; </span>
      </div>
    </div>
  </div>

</div>
