<div class="single-step-editor" [class.controls-visible]="visibleControls">
  <div class="preview" tabindex="0" role="link" (keypress)="handleKeypress($event)" #previewEl>
    <div class="downloading-overlay" [hidden]="!downloading">
      <div class="loading-indicator loading-pulse"></div>
    </div>
    <clip #preview
        (click)="setEditMode(true)"
        (imageFailed)="imageFailedToLoad = true"
        [textVisible]="!editMode"
        [photo]="photo"
        [font]="font"
        [lines]="lines"
        [textFill]="textFill"
        [textFit]="textFit"
        [textPos]="textPos"
        [config]="size"
        [previewRatio]="previewRatio"
        [preview]="preview"></clip>
    <div class="controls-bar">
      <button #downloadBtn (click)="download(preview)">
        <span *ngIf="!isEmbedMode">
          تصدير وتنزيل
        </span>
        <span *ngIf="isEmbedMode">
          صدّر وأدخل القصاصة
        </span>
      </button>
      <button #randomBtn (click)="random()">
        عشوائي
      </button>
      <button class="close-menu-button" (click)="hideControls()" *ngIf="visibleControls">
        أغلق القائمة
      </button>
    </div>
    <div class="status-bar">
      <div class="queued-message" [hidden]="queuedExportsCount == 0">
        <div class="loading-indicator loading-pulse"></div>
        يتم تصدير
        {{queuedExportsCount}}
        قصاصات
      </div>
    </div>
    <div class="credits-bar" *ngIf="photo && photo.showCredits">
      <div class="credits">
        <span> &lt; </span>
        <a [href]="photo.photographerLink" target="_blank">{{photo.photographerName}}</a>
        <span> / </span>
        <a [href]="photo.sourceLink" target="_blank">{{photo.sourceName}}</a>
        <span> &gt; </span>
      </div>
    </div>
    <div class="edit-textarea" [hidden]="!editMode">
      <textarea autosize #textarea
        (blur)="updateText($event.target.value)"
        (keyup)="handleKeyup($event)"
        [value]="text"
        ></textarea>
      <button (click)="updateText(textarea.value)">حفظ</button>
    </div>
  </div>
  <div class="controls-container">
    <header class="site-header">
      <nav>
        <a [href]="'/about'">
          عن قصاصات
        </a>
      </nav>
      <div class="logo">
        <i></i>
        <a [routerLink]="['/']">
          قُصَاصَات
        </a>
        <span class="tagline">
            من أدوات

          <a target="_blank" href="https://www.manshar.com?utm_source=manshar-clips">
            منشر
          </a>
        </span>
      </div>
    </header>

    <clips-tabs (tabclicked)="showControls()"
      (swipeup)="swipeUpControls$.next($event)" (swipedown)="swipeDownControls$.next($event)"
      (panup)="swipeUpControls$.next($event)" (pandown)="swipeDownControls$.next($event)">
      <clips-tab title="صور" (scrolled)="photosReachedEnd$.next()">
        <clips-photos-selector (change)="updatePhoto($event)"></clips-photos-selector>
      </clips-tab>
      <clips-tab title="خط">
         <!-- add search  -->
        <clips-fonts-selector (change)="updateFont($event)"></clips-fonts-selector>
      </clips-tab>
      <clips-tab title="تنسيق">
        <clips-formats-selector (change)="updateFormats($event)"></clips-formats-selector>
      </clips-tab>
       <clips-tab title="اقتباسات" (scrolled)="quotesReachedEnd$.next()">
         <yorwa-quotes-selector (change)="updateQuote($event)"></yorwa-quotes-selector>
       </clips-tab>
      <clips-tab title="حجم">
        <clips-sizes-selector (change)="updateSize($event)"></clips-sizes-selector>
      </clips-tab>
    </clips-tabs>
  </div>

  <clips-export-manager (exportcomplete)="handleExportComplete($event)"></clips-export-manager>

  <!-- <iframe #exporterIframe [src]="exporterIframeSrc" class="export-iframe"></iframe> -->
</div>